<mat-toolbar>
  <span>{{service.form.controls['$key'].value?'Modificar Cliente':"Nuevo Cliente"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>  
</mat-toolbar>
<form [formGroup] = "service.form" class="normal-form" (submit) = "onSubmit()">
  <mat-grid-list cols = "2" rowHeight = "300px">
    <mat-grid-tile>
      <div class = "controles-container">
        <input type = "hidden" formControlName = "$key">

        <mat-form-field>
          <input formControlName = "descripcion" matInput placeholder="Nombre*">
          <mat-error *ngIf = "service.form.controls['descripcion'].errors?.required">Este campo es obligatorio.</mat-error>
          <mat-error *ngIf = "service.form.controls['descripcion'].errors?.minlength">Debe digitar mínimo 10 carácteres.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName = "email" matInput placeholder="Email">
          <mat-error>Email no es válido.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName = "mobile" matInput placeholder="Teléfono*">
          <mat-error *ngIf = "service.form.controls['mobile'].errors?.required">Este campo es obligatorio.</mat-error>
          <mat-error *ngIf = "service.form.controls['mobile'].errors?.minlength">Mínimo digitar mínimo 8 carácteres.</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class = "controles-container">
            <mat-form-field>
              <mat-select formControlName="idCiudad" placeholder="Ciudad">
                <mat-option>None</mat-option>
                <ng-container *ngFor = "let city of ciudadService.ciudadList">
                  <mat-option value = "{{city.idCiudad}}">{{city.descripcion}}</mat-option>
    
                </ng-container>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input formControlName = "fechaAlta" matInput [matDatepicker] = "picker" placeholder="Fecha Alta">
              <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
    
            <div class = "add-bottom-padding">
              <mat-checkbox formControlName = "activo">Activo</mat-checkbox>
            </div>

            <div class = "button-row">
              <button mat-raised-button color = "primary" type = "submit" [disabled] = "service.form.invalid">Aceptar</button>
              <button mat-raised-button color = "warn" (click) = "onClear()">Limpiar</button>
            </div>
          </div>
          
    </mat-grid-tile>

  </mat-grid-list>
</form>