<h6 class="display-4 text-center"><img src="/assets/img/shop.jpg" alt="">Ordenes de Compra</h6>
<div class="container">
  <div class="row">
    <div class="col-md-1 offset-md-1">

    </div>
  </div>
</div>

<div class="form-group04">
   <table class="table table-hover">
    <thead class="thead-light">
        <th>Orden Número</th>
        <th>Proveedor</th>
        <th>Tipo Pago</th>
        <th>Total</th>
        <th>
            <button class="btn btn-outline-success" (click) = "runOrder()"><i class="fa fa-plus-square"></i> Nueva Orden</button>
        </th>
    </thead>

    <tbody>
     <tr *ngFor = "let item of orderList ">
        <th (click) = "openForEdit(item.ordersId, item.orderNo,item.idProveedor,item.pMethod,item.gTotal,item.ordersId)">{{item.orderNo}}</th>
        <td (click) = "openForEdit(item.ordersId, item.orderNo,item.idProveedor,item.pMethod,item.gTotal,item.ordersId)">{{item.nombreProvedor}}</td>
        <td (click) = "openForEdit(item.ordersId, item.orderNo,item.idProveedor,item.pMethod,item.gTotal,item.ordersId)">{{item.pMethod}}</td>
        <td (click) = "openForEdit(item.ordersId, item.orderNo,item.idProveedor,item.pMethod,item.gTotal,item.ordersId)">{{item.gTotal}}</td>
        <td>
          <a class="btn text-danger" (click) = "deleteOrder(item.ordersId)"><i class="fa fa-trash fa-lg"></i></a>
        </td>
     </tr>
    </tbody>
   </table>
</div>