<div class = "search-div">
  <button mat-raised-button (click) = "onCreate()">
    <mat-icon>add</mat-icon>Nueva Cuenta
  </button>

  <mat-form-field class = "search-form-field" floatLabel = "never" >
    <input matInput [(ngModel)] = "searchKey" placeholder="Buscar..." autocomplete="off" (keyup) = "applyFilter()">

    <button mat-button matSuffix mat-icon-button aria-label = "clear" *ngIf="searchKey" (click) = "onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

</div>

<div class = "mat-elevation-z8">
  <mat-table [dataSource] = "listData" matSort>
    <ng-container matColumnDef = "idCuenta">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
      <mat-cell *matCellDef = "let element">{{element.idCuenta}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef = "descripcion">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Descripcion</mat-header-cell>
        <mat-cell *matCellDef = "let element">{{element.descripcion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef = "descriRecibe">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Rec. Asientos</mat-header-cell>
        <mat-cell *matCellDef = "let element">{{element.descriRecibe}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef = "descriAjusta">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Ajustable</mat-header-cell>
        <mat-cell *matCellDef = "let element">{{element.descriAjusta}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef = "descriActivo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Activo</mat-header-cell>
        <mat-cell *matCellDef = "let element">{{element.descriActivo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef = "desTipo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
        <mat-cell *matCellDef = "let element">{{element.desTipo}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <button mat-icon-button (click)="onEdit(row)"><mat-icon color="primary">edit</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onDelete(row)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Carga Información...
        </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="nodata">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Cargando Información...
          </mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef = "displayedColumns"></mat-header-row>
      <mat-row *matRowDef = "let row; columns : displayedColumns"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['nodata']" [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>    

  <mat-paginator [pageSizeOptions] = "[10,25,50,100]" [pageSize] = "10" showFirstLastButtons></mat-paginator>
</div>