
<form [formGroup] = "service.formItem" class = "normal-form">
  <mat-grid-list cols = "2" rowHeight = "300px">
    <mat-grid-tile>
      <div class = "controles-container">
        <input type = "hidden" formControlName = "$key">
        <mat-form-field>
          <input formControlName = "name" matInput placeholder="Nombre*">
          <mat-error *ngIf = "service.formItem.controls['name'].errors?.required">Este campo es obligatorio.</mat-error>
          <mat-error *ngIf = "service.formItem.controls['name'].errors?.minlength">Debe digitar al menos 10 carácteres.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName = "price" matInput placeholder="Precio*">
          <mat-error>Este campo es obligatorio.</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class = "controles-container">
        <mat-form-field>
          <input formControlName = "hireDate" matInput [matDatepicker] = "picker" placeholder="Fecha Alta*">
          <mat-error>Este campo es obligatorio.</mat-error>
          <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> 
        </mat-form-field>

        <div class = "add-bottom-padding">
          <mat-checkbox formControlName = "activo">Activo</mat-checkbox>
        </div>

        <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled] = "service.formItem.invalid">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>      
    </mat-grid-tile>
    
  </mat-grid-list>
</form>